##### Q1. (UNIX) 디렉토리 내에 있는 파일들의 목록을 내림차순으로 출력하는 명령어를 적으세요. ( ! 기호 후 명령어 입력. Windows 명령어도 인정함. )

In [ ]:
# ls | sort -r 또는 dir /o-n (Windows)

##### 3주차 강의안 10페이지 참조

##### Q2. (UNIX) UNIX에서는 모든 것이 \_\_이것\_\_이다. 이것에 들어갈 말을 영어로 적으세요.

In [ ]:
# File

##### 2주차 강의안 17페이지 참조 <br> Ref) Tree 구조

##### Q3. 다음 리스트에서 짝수만 남기면서, 892 보다 큰 수는 출력되지 않는 리스트를 만드세요.

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

numbers = [n for n in numbers if (n%2==0) and (n<=892)]
numbers

##### Q4. 다음 2개의 변수 a, b의 값을 한 줄로 바꾸는 코드를 완성하세요.

In [ ]:
young_man = "신하균"
old_man = "변희봉"
old_man, young_man = young_man, old_man
print(young_man, old_man)

##### 변수 swapping

##### Q5. 한국어의 목적격 조사 '을'과 '를'은 앞에 나오는 단어의 받침에 따라 결정된다. 예를 들어, "나는 오늘 수업을 들었다."에서 "수업" 뒤에 붙는 목적격 조사 "을"은 앞 음절에 받침이 있기 때문에 "을"을 사용한 것이다. 만일, 앞 음절에 받침이 없었다면 "를"을 사용했을 것이다. 입력으로 넣은 단어의 목적격 조사로 '을'과 '를' 중 어떤 것이 적절할 지 판단하는 함수를 작성하세요.

In [ ]:
# 참고
# 초성 리스트. 00 ~ 18
CHOSUNG_LIST = ['ㄱ', 'ㄲ', 'ㄴ', 'ㄷ', 'ㄸ', 'ㄹ', 'ㅁ', 'ㅂ', 'ㅃ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅉ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ']
# 중성 리스트. 00 ~ 20
JUNGSUNG_LIST = ['ㅏ', 'ㅐ', 'ㅑ', 'ㅒ', 'ㅓ', 'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ', 'ㅘ', 'ㅙ', 'ㅚ', 'ㅛ', 'ㅜ', 'ㅝ', 'ㅞ', 'ㅟ', 'ㅠ', 'ㅡ', 'ㅢ', 'ㅣ']
# 종성 리스트. 00 ~ 27 + 1(1개 없음)
JONGSUNG_LIST = [' ', 'ㄱ', 'ㄲ', 'ㄳ', 'ㄴ', 'ㄵ', 'ㄶ', 'ㄷ', 'ㄹ', 'ㄺ', 'ㄻ', 'ㄼ', 'ㄽ', 'ㄾ', 'ㄿ', 'ㅀ', 'ㅁ', 'ㅂ', 'ㅄ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ']

def decide_postposition(word):
    last_syllable = word[-1]
    gap = ord('개') - ord('가')
    if ((ord(last_syllable)-ord('가')) % gap) == 0:
        return word+"를"
    else:
        return word+"을"
decide_postposition("여수 밤바다") # 실행 결과 "여수 밤바다를"이 출력되어야 함.

##### Q6. 다음 문자열을 역순으로 출력하는 한 줄짜리 코드를 작성하세요.

In [ ]:
sentence = "로꾸꺼 로꾸꺼 로꾸꺼 말해말"
sentence = sentence[::-1]
sentence

##### Q7. 주어진 dictionary가 모두 같은 값을 갖고 있는지 확인하는 함수를 작성하세요.

In [ ]:
def check_homogeneity(dictionary):
    return (True if len(set(dictionary.values())) == 1 else False)
print(check_homogeneity({"정조":"왕", "단종":"왕", "광해군":"왕"})) # return True
print(check_homogeneity({"걸스데이":4, "씨스타":4, "블랭핑크":4, "소녀시대":9})) # return False

##### 삼항연산자

##### Q8. 다음 두 리스트 s1, s2를 Pandas의 Series로 만들고 두 Series를 더해보세요.

In [ ]:
import pandas as pd
s1 = [2, 4, 6, 8, 10]
s2 = [1, 3, 5, 7, 9]
s1 = pd.Series(s1)
s2 = pd.Series(s2)
s1+s2

##### Q9. 다음 DataFrame 에서, name(이름)과 turnout(득표율)만 선택(selection)하는 코드를 작성하세요.

In [ ]:
import pandas as pd
import numpy as np
president_data  = {'name': ['이승만', '윤보선', '박정희', '최규하', '전두환', '노태우',
                       '김영삼', '김대중', '노무현', '이명박', '박근혜', '문재인'],
        'turnout': [91.8, 79.1, 46.6, 96.3, 99.4, 36.6,
                    42, 40.3, 48.9, 48.7, 51.6,41.1],
        'jail': ['no', 'no', 'no', 'no', 'yes', 'yes',
                'no', 'no', 'no','yes','yes',np.nan]}
labels = ['가', '나', '다', '라', '마', '바', '사', '아', '자', '차','카','타']
presidents = pd.DataFrame(president_data, index=labels )

presidents[['name','turnout']]

##### Q10. Q9 에서 만든 DataFrame에 각 대통령의 재임 기간을 조사하여 'period'라는 column을 만들고, 'period'의 내림차순으로 DataFrame을 정렬하세요.

In [ ]:
presidents['period'] = [4273, 588, 5793, 255, 2733, 1827, 1826, 1825, 1826, 1827, 1474, 1780]
presidents.sort_values('period')

##### [https://ko.wikipedia.org/wiki/대한민국의_대통령_목록](https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EB%8C%80%ED%86%B5%EB%A0%B9_%EB%AA%A9%EB%A1%9D)
```이승만: 4273일(11년 8개월 11일)
윤보선: 588일(1년 7개월 10일)
박정희: 5793일(15년 10개월 9일)
최규하: 255일(8개월 10일)
전두환: 2733일(7년 5개월 23일)
노태우: 1827일(5년)
김영삼: 1826일(5년)
김대중: 1825일(5년)
노무현: 1826일(5년)
이명박: 1827일(5년)
박근혜: 1474일(4년 13일)```

### Q1. 다음 조선왕조실록 사이트에서 재위기간이 가장 짧은 인종의 기사를 크롤링하여 1) URL 주소, 2) 기사 제목, 3) 한글 내용을 포함하는 코드를 작성 하세요. [조선왕조실록 바로가기](http://sillok.history.go.kr/main/main.do) <br><br> 예상되는 output은 다음과 같습니다.
```[{"url": "http://sillok.history.go.kr/id/kla_10101001_001", "title":"삭전을 지내고 상식을 올리다", "content": "상(上)이 삭전(朔奠)을 지내고..." }, {"url":"...", "title":"...", "content":"..."}, ...]```

In [ ]:
from selenium import webdriver
import requests
from lxml import html
from selenium.webdriver.common.by import By
chrome_options = webdriver.ChromeOptions()
# 브라우저에 임의로 User-agent 옵션을 넣어 Python 코드로 접속함을 숨김
chrome_options.add_argument('--user-agent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36"')
driver = webdriver.Chrome(chrome_options=chrome_options)

In [ ]:
driver.get("http://sillok.history.go.kr/main/main.do")
driver.find_element(By.XPATH, '//*[@id="m_cont_list"]/div[1]/ul[2]/li[4]/a').click()
# driver.find_element(By.LINK_TEXT, '12대 인종(1545년~)').click()

In [ ]:
months = driver.find_elements(By.XPATH, '//*[@id="cont_area"]/div/div[2]/ul[2]/li/ul/li/a')
all_urls = []
for month in months:
    month.click()
    month_urls = [url.get_attribute("href") for url in driver.find_elements(By.XPATH,'//*[@id="cont_area"]/div[1]/div[3]/div/dl/dd/ul/li/a')]
    month_urls = [url.strip("javascript:searchView('").strip("');") for url in urls]
    month_urls = ['http://sillok.history.go.kr/id/'+url for url in urls]
    all_urls.append(month_urls)
    driver.back();

In [ ]:
all_urls = []
for month in range(1,9):
    driver.get("http://sillok.history.go.kr/main/main.do")
    driver.find_element(By.XPATH, '//*[@id="m_cont_list"]/div[1]/ul[2]/li[4]/a').click()
    months = driver.find_elements(By.XPATH, '//*[@id="cont_area"]/div/div[2]/ul[2]/li/ul/li['+str(month)+']/a')
    for month in months:
        month.click()
        month_urls = [url.get_attribute("href") for url in driver.find_elements(By.XPATH,'//*[@id="cont_area"]/div[1]/div[3]/div/dl/dd/ul/li/a')]
        month_urls = [url.strip("javascript:searchView('").strip("');") for url in month_urls]
        month_urls = ['http://sillok.history.go.kr/id/'+url for url in month_urls]
        all_urls.extend(month_urls)

In [ ]:
all_articles = []
for url in all_urls:
    article_page = html.fromstring(requests.get(url).text)
    title = "".join(article_page.xpath('//*[@id="cont_area"]/div[1]/div[1]/h3/text()'))
    content = "".join(article_page.xpath('//*[@id="cont_area"]/div[1]/div[3]/div[1]/div/div/p//text()'))
    category = (''.join(article_page.xpath('(//span[@class="ins_source_tit"]/following-sibling::div)[1]/text()'))).split(" / ")
    all_articles.append({'url':url, 'title':title,'content':content,'category':category})

In [ ]:
all_articles

### Q2. Q1에서 만든 csv파일을 불러와서 DataFrame을 생성하고, content 칼럼에서 괄호와 한문을 모두 제거하여 content 칼럼에 다시 저장하세요.
hint: 괄호와 괄호 안 문자를 제거하는 정규표현식 ```"\(.*\)" ```

In [ ]:
injong_sillok = pd.DataFrame(all_articles)
injong_sillok['content'] = injong_sillok['content'].str.replace(r'\r|\n|\t|】|【|', '')
injong_sillok['content'] = injong_sillok['content'].str.replace(r'\([^)]*\)', '')
injong_sillok['content'] = injong_sillok['content'].str.replace(r'\d+\)', '')
injong_sillok['content']

### Q3. Q2에서 만든 list of dictionaries을 pandas DataFrame으로 바꾸어 csv 파일로 저장하는 코드를 작성하세요.

In [ ]:
injong_sillok.to_csv('injong_sillok.csv',index=False)